<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ee3bd84ca1.js"></script>
</head>

<body>

  <div class="container-fluid home">
    <h1 class="tilte">No tienes favoritos, busca y añade</h1>
    <hr>
    <div class="row">
      <div class="col-lg-10">
        <form class="in-line" action="/products" method="post">
          <div class="input-group mb-3">
            <input type="text" name="item" class="form-control" placeholder="Buscar productos" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
          </div>
        </form>
      </div>
      <div class="col-lg-2">
        <form class="" action="/favoritos" method="get">
          <button class="btn btn-success" type="submit" id="button-addon2">Favoritos</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
